Repository gchq/Gaffer, pull requests merged in 2024-10, with the labels that each got.

#3311 Gh-3308: Specify merge classes federated POC
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreProperties.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/DefaultResultAccumulator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/FederatedResultAccumulator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOutputHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/merge/DefaultResultAccumulatorTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/util/ModernDatasetUtils.java
Labels: federated-store, feature

#3313 Gh-3121: MapStore only supports string visibility
  core/common-util/src/main/java/uk/gov/gchq/gaffer/commonutil/elementvisibilityutil/ElementVisibility.java
  core/common-util/src/test/java/uk/gov/gchq/gaffer/commonutil/elementvisibilityutil/ElementVisibilityTest.java
  store-implementation/map-store/src/main/java/uk/gov/gchq/gaffer/mapstore/impl/GetElementsUtil.java
Labels: bug, map-store

#3307 Gh-3300: Graph access controls for federated POC
  library/tinkerpop/src/test/resources/federatedStore/simple-fed-store.properties
  store-implementation/simple-federated-store/pom.xml
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreProperties.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/access/GraphAccess.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/AddGraph.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOutputHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/add/AddGraphHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetAllGraphIdsHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetAllGraphInfoHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetSchemaHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/misc/ChangeGraphIdHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/misc/RemoveGraphHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/access/GraphAccessTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/AddGraphTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/ChangeGraphIdTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/RemoveGraphTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/util/FederatedTestUtils.java
Labels: federated-store, feature

#3321 Change OTEL user attribute
  core/common-util/src/main/java/uk/gov/gchq/gaffer/commonutil/otel/OtelUtil.java
  core/graph/src/main/java/uk/gov/gchq/gaffer/graph/Graph.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/OperationChainHandler.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/GremlinController.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/handler/GremlinWebSocketHandler.java
Labels: tech-debt

#3320 Gh-3319: Fixes ability to get orphan vertices from edges
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraph.java
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/process/traversal/util/GafferVertexUtils.java
  library/tinkerpop/src/test/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraphIT.java
Labels: bug, tinkerpop

#3297 Gh-2840: MapStore MatchedVertex inconsistent
  core/operation/src/main/java/uk/gov/gchq/gaffer/operation/data/EdgeSeed.java
  store-implementation/map-store/src/main/java/uk/gov/gchq/gaffer/mapstore/impl/AddElementsHandler.java
  store-implementation/map-store/src/test/java/uk/gov/gchq/gaffer/mapstore/impl/GetAllElementsHandlerTest.java
  store-implementation/map-store/src/test/java/uk/gov/gchq/gaffer/mapstore/integration/MapStoreITs.java
  store-implementation/proxy-store/src/test/java/uk/gov/gchq/gaffer/proxystore/integration/ProxyStoreITs.java
  store-implementation/proxy-store/src/test/java/uk/gov/gchq/gaffer/proxystore/integration/ProxyStoreWithNamedOpNamedViewITs.java
Labels: bug, map-store

#3316 Gh-3315: Add AbstractStoreITs to the new fed store POC
  store-implementation/simple-federated-store/pom.xml
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/operator/ElementAggregateOperator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/EitherOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOutputHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/PreDefinedFederatedStore.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/integration/FederatedStoreITs.java
  store-implementation/simple-federated-store/src/test/resources/operationDeclarations.json
  store-implementation/simple-federated-store/src/test/resources/single-use-accumulo-store.properties
  store-implementation/simple-federated-store/src/test/resources/store.properties
Labels: enhancement, federated-store

#3328 Gh-3326: Update Schema merge federated POC
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/FederatedAccess.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/FederatedGraphStorage.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/FederatedStoreCache.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/FederatedStoreCacheTransient.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/access/predicate/FederatedGraphAccessPredicate.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/access/predicate/FederatedGraphReadAccessPredicate.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/access/predicate/FederatedGraphWriteAccessPredicate.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/access/predicate/user/FederatedGraphReadUserPredicate.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/access/predicate/user/FederatedGraphWriteUserPredicate.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/operation/AddGraphWithHooks.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/operation/FederatedOperation.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/operation/IFederatedOperation.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/operation/IFederationOperation.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/operation/RemoveGraphAndDeleteAllData.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/util/ContextSpecificMergeFunction.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/EitherOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOutputHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetSchemaHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/GetSchemaTest.java
Labels: enhancement, federated-store
