Repository gchq/Gaffer, pull requests merged in 2024-09, with the labels that each got.

#3269 Gh 2839 track creation date of sub graphs
  core/graph/src/main/java/uk/gov/gchq/gaffer/graph/Graph.java
  core/graph/src/test/java/uk/gov/gchq/gaffer/graph/GraphTest.java
  core/operation/src/main/java/uk/gov/gchq/gaffer/operation/impl/get/GetGraphCreatedTime.java
  core/operation/src/main/java/uk/gov/gchq/gaffer/operation/serialisation/TypeReferenceImpl.java
  core/operation/src/test/java/uk/gov/gchq/gaffer/operation/impl/get/GetGraphCreatedTimeTest.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/Store.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/GetGraphCreatedTimeHandler.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/StoreTest.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/operation/handler/GetGraphCreatedTimeHandlerTest.java
  example/federated-demo/README.md
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/GraphConfigurationController.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/controller/GraphConfigurationControllerTest.java
  store-implementation/accumulo-store/src/main/java/uk/gov/gchq/gaffer/accumulostore/AccumuloProperties.java
  store-implementation/accumulo-store/src/main/java/uk/gov/gchq/gaffer/accumulostore/AccumuloStore.java
  store-implementation/accumulo-store/src/main/java/uk/gov/gchq/gaffer/accumulostore/utils/TableUtils.java
  store-implementation/accumulo-store/src/test/java/uk/gov/gchq/gaffer/accumulostore/AccumuloStoreTest.java
  store-implementation/federated-store/src/test/java/uk/gov/gchq/gaffer/federatedstore/FederatedStoreTest.java
Labels: feature

#3280 Gh-3279: AddGraph Operation for Federated POC
  core/store/src/main/java/uk/gov/gchq/gaffer/store/library/GraphLibrary.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/AddGraph.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/add/AddGraphHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetSchemaHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/AddGraphTest.java
Labels: federated-store, feature

#3282 Gh-3281: add examples for /operations/execute
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/OperationController.java
Labels: enhancement, rest-api

#3289 Gh 3288: Store Graphs in cache in federated POC
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/DefaultResultAccumulator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetAllGraphIdsHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/AddGraphTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/RemoveGraphTest.java
Labels: enhancement, federated-store

#3286 Gh-3276: Add ability to seed with Vertex only in Gremlin
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraph.java
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/process/traversal/util/GafferVertexUtils.java
  library/tinkerpop/src/test/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraphIT.java
Labels: enhancement, tinkerpop

#3293 Gh-3290: Configure with properties in federated POC
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreProperties.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/DefaultResultAccumulator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/FederatedResultAccumulator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOutputHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/merge/DefaultResultAccumulatorTest.java
Labels: federated-store, feature

#3298 Gh-3291: Add GetAllGraphInfo operation to POC federated store
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/GetAllGraphInfo.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/get/GetAllGraphInfoHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/util/ModernDatasetUtils.java
Labels: enhancement, federated-store

#3296 Gh-3295: Fix issue with Accumulo iterators when smart merging Federated POC
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/merge/operator/ElementAggregateOperator.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/FederatedOperationHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreTest.java
  store-implementation/simple-federated-store/src/test/resources/modern/schema/schema.json
Labels: bug, federated-store

#3294 Gh-3292: REST API Gremlin Timeout and Execute Endpoints
  library/tinkerpop/src/test/java/uk/gov/gchq/gaffer/tinkerpop/util/modern/Person.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/config/GremlinConfig.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/config/GremlinWebSocketConfig.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/GremlinController.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/handler/GremlinWebSocketHandler.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/controller/GremlinControllerTest.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/integration/handler/GremlinWebSocketIT.java
Labels: enhancement, rest-api

#3301 Gh-3299: Add ChangeGraphId operation to POC simple federated store
  store-implementation/simple-federated-store/pom.xml
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/ChangeGraphId.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/misc/ChangeGraphIdHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/operation/ChangeGraphIdTest.java
  store-implementation/simple-federated-store/src/test/resources/accumulo-store.properties
Labels: enhancement, federated-store

#3304 Gh-3303: No error reported when Gremlin endpoint fails
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/OperationChainHandler.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/GremlinController.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/controller/GremlinControllerTest.java
Labels: bug, rest-api

#3306 Gh-3305: Fix to apply OpOptions at OpChain level
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraph.java
Labels: bug, tinkerpop
