Repository gchq/Gaffer, pull requests merged in 2025-01, with the labels that each got.

#3347 Gh-2478: JobTracker tracks all operations, not just jobs
  core/store/src/main/java/uk/gov/gchq/gaffer/store/Store.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/StoreTest.java
  rest-api/common-rest/src/main/java/uk/gov/gchq/gaffer/rest/service/v2/AbstractOperationService.java
  rest-api/core-rest/src/main/java/uk/gov/gchq/gaffer/rest/service/v2/IOperationServiceV2.java
  rest-api/core-rest/src/main/java/uk/gov/gchq/gaffer/rest/service/v2/OperationServiceV2.java
  rest-api/core-rest/src/test/java/uk/gov/gchq/gaffer/rest/service/v2/JobServiceV2IT.java
  rest-api/core-rest/src/test/java/uk/gov/gchq/gaffer/rest/service/v2/OperationServiceV2IT.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/OperationController.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/integration/controller/OperationControllerIT.java
Labels: enhancement, tech-debt

#3352 Gh-3351: Better GetWalks support on federated POC
  core/operation/src/main/java/uk/gov/gchq/gaffer/operation/impl/GetWalks.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/GetWalksHandler.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/OperationChainHandler.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/access/GraphAccess.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/operation/handler/EitherOperationHandler.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/FederatedStoreIT.java
  store-implementation/simple-federated-store/src/test/java/uk/gov/gchq/gaffer/federated/simple/util/FederatedModernTestUtils.java
Labels: enhancement, federated-store

#3354 Gh-3353: Ensure user info passed in GafferPop
  core/common-util/src/main/java/uk/gov/gchq/gaffer/commonutil/otel/OtelUtil.java
  core/graph/src/main/java/uk/gov/gchq/gaffer/graph/Graph.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/operation/handler/OperationChainHandler.java
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraph.java
  library/tinkerpop/src/main/java/uk/gov/gchq/gaffer/tinkerpop/process/traversal/step/GafferPopGraphStep.java
  library/tinkerpop/src/test/java/uk/gov/gchq/gaffer/tinkerpop/GafferPopGraphIT.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/config/GremlinConfig.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/config/GremlinWebSocketConfig.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/controller/GremlinController.java
  rest-api/spring-rest/src/main/java/uk/gov/gchq/gaffer/rest/handler/GremlinWebSocketHandler.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/controller/GremlinControllerTest.java
  rest-api/spring-rest/src/test/java/uk/gov/gchq/gaffer/rest/integration/handler/GremlinWebSocketIT.java
Labels: bug, tinkerpop

#3356 DeleteElements to return count
  core/graph/src/test/java/uk/gov/gchq/gaffer/graph/GraphTest.java
  core/graph/src/test/java/uk/gov/gchq/gaffer/integration/store/TestStore.java
  core/operation/src/main/java/uk/gov/gchq/gaffer/operation/impl/delete/DeleteElements.java
  core/store/src/main/java/uk/gov/gchq/gaffer/store/Store.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/StoreTest.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/integration/StoreIT.java
  core/store/src/test/java/uk/gov/gchq/gaffer/store/operation/handler/TestAddToGraphLibraryImpl.java
  store-implementation/accumulo-store/src/main/java/uk/gov/gchq/gaffer/accumulostore/AccumuloStore.java
  store-implementation/accumulo-store/src/main/java/uk/gov/gchq/gaffer/accumulostore/operation/handler/DeleteElementsHandler.java
  store-implementation/accumulo-store/src/test/java/uk/gov/gchq/gaffer/accumulostore/integration/delete/AbstractDeletedElementsIT.java
  store-implementation/accumulo-store/src/test/java/uk/gov/gchq/gaffer/accumulostore/operation/handler/DeleteElementsHandlerTest.java
  store-implementation/federated-store/src/main/java/uk/gov/gchq/gaffer/federatedstore/FederatedStore.java
  store-implementation/federated-store/src/test/java/uk/gov/gchq/gaffer/federatedstore/operation/handler/impl/FederatedDeleteElementsTest.java
  store-implementation/federated-store/src/test/java/uk/gov/gchq/gaffer/federatedstore/operation/handler/impl/FederatedGetTraitsHandlerTest.java
  store-implementation/map-store/src/main/java/uk/gov/gchq/gaffer/mapstore/MapStore.java
  store-implementation/map-store/src/main/java/uk/gov/gchq/gaffer/mapstore/impl/DeleteElementsHandler.java
  store-implementation/map-store/src/test/java/uk/gov/gchq/gaffer/mapstore/impl/DeleteElementsHandlerTest.java
  store-implementation/proxy-store/src/main/java/uk/gov/gchq/gaffer/proxystore/ProxyStore.java
  store-implementation/simple-federated-store/src/main/java/uk/gov/gchq/gaffer/federated/simple/FederatedStore.java
Labels: enhancement
